<link rel="stylesheet" href="/front/tasks/styles.css">


<div layout="row" flex style="min-height: calc(100vh - 64px);">

    <scroll-loader events="'indexPageScrolled'" load-func="scrollWrap.loadFunc" offset="scrollWrap.offset"
                   set-liked="true" set-received="true" callback="scrollWrap.callback"></scroll-loader>

    <div class="md-whiteframe-z2" flex="20" style="padding: 16px; z-index: 1; background-color: #FAFAFA;">
        <md-chips ng-model="chips.selectedTasks" md-autocomplete-snap md-require-match>
            <md-autocomplete
                    md-selected-item="chips.selectedTask"
                    md-search-text="chips.searchTextTasks"
                    md-items="task in chips.tasksQuerySearch(chips.searchTextTasks)"
                    md-item-text="task"
                    placeholder="Поиск по названию">
                <span md-highlight-text="chips.searchTextTasks">{{task}}</span>
            </md-autocomplete>
        </md-chips>

        <md-chips ng-model="chips.selectedSkills" md-autocomplete-snap md-require-match>
            <md-autocomplete
                    md-selected-item="chips.selectedSkill"
                    md-search-text="chips.searchTextSkills"
                    md-items="skill in chips.skillsQuerySearch(chips.searchTextSkills)"
                    md-item-text="skill"
                    placeholder="Поиск по умениям">
                <span md-highlight-text="chips.searchTextSkills">{{skill}}</span>
            </md-autocomplete>
        </md-chips>

        <md-chips ng-model="chips.selectedAuthors" md-autocomplete-snap md-require-match>
            <md-autocomplete
                    md-selected-item="chips.selectedAuthor"
                    md-search-text="chips.searchTextAuthors"
                    md-items="author in chips.authorsQuerySearch(chips.searchTextAuthors)"
                    md-item-text="author"
                    placeholder="Поиск по автору">
                <span md-highlight-text="chips.searchTextAuthors">{{author}}</span>
            </md-autocomplete>
        </md-chips>

        <div>
            <md-checkbox class="md-accent" ng-model="hideUnconfirmed" ng-init="hideUnconfirmed=false">
                Неподтвержденные
            </md-checkbox>
        </div>
    </div>

    <div layout="column" layout-fill class="md-whiteframe-z2" style="background-color: #fff; ">
        <div>
            <div layout="row" layout-padding layout-align="start center">
                <h4 style="margin-left: 8px; margin-bottom: 15px; margin-top: 15px;">Сортировать по: </h4>

                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortAlphabetDown">названию</label>
                    <i id="sortAlphabetDown" class="mdi mdi-menu-down mdi-24"></i>
                </div>
                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortDateDown">дате</label>
                    <i id="sortDateDown" class="mdi mdi-menu-down mdi-24"></i>
                </div>
                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortPopularityDown">популярности</label>
                    <i id="sortPopularityDown" class="mdi mdi-menu-down mdi-24"></i>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <tasks-list skills-obj="skills" tasks-obj="getfTasks()" solvable="false"></tasks-list>
    </div>
</div>
