<link rel="stylesheet" href="/front/tasks/styles.css">

<div layout="row" flex style="min-height: calc(100vh - 64px);">
    <div class="md-whiteframe-z2" flex="20" style="padding: 16px; z-index: 1; background-color: #FAFAFA;">
        <md-chips ng-model="chips.tasksNames" readonly="chips.readonlyTasks"></md-chips>
        <md-chips ng-model="chips.skillsNames" readonly="chips.readonlySkills"></md-chips>
        <md-chips ng-model="chips.authorsNames" readonly="chips.readonlyAuthors"></md-chips>

        <div>
            <md-checkbox class="md-accent" ng-model="hideUnconfirmed" ng-init="hideUnconfirmed=false">
                Неподтвержденные
            </md-checkbox>
        </div>
    </div>

    <div layout="column" layout-fill class="md-whiteframe-z2" style="background-color: #fff; ">
        <div>
            <div layout="row" layout-padding layout-align="start center">
                <h4 style="margin-left: 8px; margin-bottom: 15px; margin-top: 15px;">Сортировать по: </h4>

                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortAlphabetDown">названию</label>
                    <img id="sortAlphabetDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                    <img id="sortAlphabetDUp"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"
                         hide/>
                </div>
                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortDateDown">дате</label>
                    <img id="sortDateDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                    <img id="sortDateUp"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"
                         hide/>
                </div>
                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortPopularityDown">популярности</label>
                    <img id="sortPopularityDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                    <img id="sortPopularityUp"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"
                         hide/>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <tasks-solve-list></tasks-solve-list>
    </div>
</div>
