/* all.html */

.all-tasks-sortable-column {
    padding-top: 9px !important;
    outline: none;
    cursor: pointer;
}

.all-tasks-header-cell {
    display: table-cell;
    color: rgba(0,0,0,0.54);
    padding-top: 16px;
    white-space: nowrap;
    height: inherit;
}

.all-tasks-sortable-column.all-tasks-header-cell:hover {
    color: rgba(0, 0, 0, 0.87);
}

.all-tasks-sortable-column.all-tasks-header-cell:hover .sort-icon {
    color: rgba(0, 0, 0, 0.26);
}

.all-tasks-header-cell .sort-icon {
    color: #F5F5F5;
}

.all-tasks-header-cell-text {
    text-align: left;
    font-weight: normal !important;
    font-size: 15px;
}

.all-tasks-body-cell {
    display: table-cell;
}

#all-tasks-virtual-container {
    height: calc(100vh - 113px);
    background-color: white;
}

.all-tasks-virtual-item-container {
    height: 48px;
    border-bottom: solid 1px #EEEEEE;
}

.all-tasks-virtual-item {
    padding: 0 16px;
    cursor: pointer;
}

.all-tasks-virtual-item-clickable-aria {
    height: 48px;
    outline: none;
}

.all-tasks-virtual-item:hover {
    background-color: #EEEEEE;
}

/* one.html */

.taskTabs .tab-content {
    background-color: #3f51b5;
    width: inherit;
    height: 30px;
}

.taskTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0 solid black;
    height: 350px;
    overflow: hidden;
}

.taskTabs [role="tabpanel"] {
    border-left: solid 2px #3f51b5;
    border-right: solid 2px #3f51b5;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute;
}

.taskTabs [role="tabpanel"].ng-leave.ng-leave-active, .taskTabs [role="tabpanel"].ng-enter {
    top: -350px;
}

.taskTabs [role="tabpanel"].ng-leave, .taskTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0;
}

.taskTabs [role="tabpanel"].ng-leave {
    z-index: 100;
}

.taskTabs .md-header {
    border-radius: 3px;
}

.taskTabs md-tab {
    color: #90caf9 !important;
}

.taskTabs md-tab.active, .taskTabs md-tab:focus {
    color: white !important;
}

.taskTabs md-tab[disabled] {
    opacity: 0.5;
}

.taskTabs .md-header .md-ripple {
    border-color: #FFFFFF !important;
}

.authorFace {
    border-radius: 50%;
    border: 1px solid #ddd;
    zoom: 200%;
    margin: 8px;
}