<link rel="stylesheet" href="/front/skills/styles.css">

<script type="text/ng-template" id="skills-tree">
    <div layout="row">
        <md-button class="md-mini md-primary expand-skill" ng-if="skill.children.length > 0"
                   ng-click="expand(skill)" aria-label="expand-toogle">
            <i class="mdi mdi-chevron-down rotate-base" ng-class="{'rotate-btn': skill.expanded}"></i>
        </md-button>
        <span ng-if="skill.children.length == 0" style="margin-left: 14px;">• </span>
        <skill-button id="skill.id" type="{{getSkillType(skill)}}" progress="skill.count || 100"></skill-button>
    </div>
    <ul class="animate-if-skill" ng-if="skill.children && skill.expanded">
        <li ng-repeat="skill in skill.children" ng-include="'skills-tree'">
        </li>
    </ul>
</script>

<div layout="row" layout-fill id="w-frame">
    <div class="md-whiteframe-z2" flex="20" flex-sm="35" flex-md="30" id="w-frame-z2">
        <form name="filterBySkillTitle">
            <md-input-container>
                <label>Название умения</label>
                <input type="text" ng-model="skillTitle">
            </md-input-container>
        </form>
        <div class="select">
            <h5>Выделить</h5>
            <md-checkbox class="md-primary" ng-model="highlightSkills">Умею</md-checkbox>
            <md-checkbox class="md-accent" ng-model="highlightNeeds">Хочу</md-checkbox>
        </div>
        <div layout="column" layout-align="center center">
            <div>
                <md-button ng-click="toogleExpandedForAll(false)" class="md-primary">Свернуть список</md-button>
            </div>
            <div>
                <md-button ng-click="toogleExpandedForAll(true)" class="md-primary">Развернуть список</md-button>
            </div>
        </div>
    </div>

    <md-content flex style="min-height: calc(100vh - 65px); max-height: calc(100vh - 65px);">
        <div layout="column" flex class="md-whiteframe-z2" id="w-frame-z2_1"
             style="min-height: calc(100vh - 65px);">
            <div class="animate-if-skill" ng-if="skillTitle.length === 0" flex>
                <div class="exs-root" layout="row">
                    <md-button class="md-mini md-primary expand-skill"
                               ng-click="expand(exs.root)" aria-label="expand-toogle">
                        <i class="mdi mdi-chevron-down rotate-base" ng-class="{'rotate-btn': exs.root.expanded}"></i>
                    </md-button>
                    <skill-button id="exs.root.id" type="root"></skill-button>
                </div>

                <ul class="animate-if-skill" ng-if="exs.root.expanded" style="margin-left: 19px;">
                    <li ng-repeat="skill in exs.root.children" ng-include="'skills-tree'">
                    </li>
                </ul>

            </div>
            <div class="animate-if-skill" ng-if="skillTitle.length !== 0" flex>
                <div class="search">
                    <h4>Результаты поиска:</h4>
                </div>
                <div ng-repeat="skill in filteredSkills">
                    <div class="button-skill">
                        <div layout="row">
                            <md-button class="md-mini md-primary expand-skill" ng-if="skill.children.length > 0"
                                       ng-click="expand(skill)" aria-label="expand-toogle">
                                <i class="mdi mdi-chevron-down rotate-base" ng-class="{'rotate-btn': skill.expanded}"></i>
                            </md-button>
                            <span ng-if="skill.children.length == 0" style="margin-left: 14px;">• </span>
                            <skill-button id="skill.id" type="getSkillType(skill)" progress="skill.count || 100"></skill-button>
                        </div>
                        <ul class="animate-if-skill" ng-if="skill.expanded">
                            <li ng-repeat="skill in skill.children" ng-include="'skills-tree'">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>