/* skills.html */

.animate-if-skill.ng-enter, .animate-if-skill.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if-skill.ng-enter,
.animate-if-skill.ng-leave.ng-leave-active {
    height: auto;
    max-height: 0;
    opacity:0;
}

.animate-if-skill.ng-leave,
.animate-if-skill.ng-enter.ng-enter-active {
    display: block !important;
    max-height: 1000px;
    overflow: hidden;
    opacity:1;
}

.exs-root {
    margin-top: 10px;
    margin-left: 20px;
}

.search-skills {
    margin-left: 20px;
}

.select {
    margin-left: 5%
}

.button-skill {
    margin-left: 25px;
}

h4 {
    color: rgba(0, 0, 0, 0.54);
}

#w-frame {
    min-height: calc(100vh - 64px);
}

#w-frame-z2 {
    padding: 16px;
    background-color: #FAFAFA;
    z-index: 1;
}

#w-frame-z2_1 {
    background-color: #fff;
}

ul {
    margin-top: 0;
    list-style-type: none;
    padding-left: 25px;
}

.expand-skill {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    line-height: normal;
    width: 19px;
    height: 19px;
}

.expand-skill md-icon {
    width: 19px;
    height: 19px;
}
