
<div style="position: relative;">

    <scroll-loader events="'indexPageScrolled'" load-func="scrollWrap.loadFunc" options="scrollWrap.options"
                   callback="scrollWrap.callback"></scroll-loader>

    <div layout="row">
        <div flex="{{sidenavVisible ? 10 : 15}}" flex-md="5" hide-sm class="content-main-side"></div>
        <div flex>
            <div ng-switch="navtabs.selected">
                <div ng-switch-when="0">
                    <div class="secondary-header">Общие интересы</div>
                    <div layout="row" layout-align="start start" layout-wrap>
                        <md-card ng-repeat="user in users" layout="column" layout-align="start center" class="user-card"
                                 ng-click="goToUserPage(user.id)" ng-class="{'expanded': user.expanded}" ng-mouseenter="user.expandVisible = true"
                                ng-mouseleave="user.expandVisible = false">
                            <md-button class="md-icon-button expand-button rotate-base" layout="row" layout-align="center center"
                                       ng-click="expand(user)" ng-class="{'rotate-btn': user.expanded}"
                                       aria-label="editInfo" ng-if="user.expandVisible">
                                <i class="mdi mdi-chevron-down mdi-24 mdi-secondary"></i>
                            </md-button>
                            <img ng-if="user.avatar" alt="{{user.nick}}" ng-src='/avatars/{{user.avatar}}' class="avatar">
                            <div ng-if="!user.avatar" class="avatar">
                                <div class="empty"><i class="mdi mdi-account-circle"></i></div>
                            </div>
                            <md-card-content layout="column" layout-align="start center">
                                <div class="name">{{user.name}}</div>
                                <div class="secondary" layout="row" layout-align="center center">
                                    <div style="margin-right: 16px;">Умею: <span style="color: #3F51B5">{{user.skills.length}}</span></div>
                                    <div>Хочу: <span style="color: #E91E63">{{user.needs.length}}</span></div>
                                </div>
                            </md-card-content>
                            <md-button class="subscribe">Подписаться</md-button>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
        <div flex="{{sidenavVisible ? 10 : 15}}" flex-md="5" hide-sm class="content-main-side"></div>
    </div>
</div>