<link rel="stylesheet" href="/front/users/styles.css">

<div style="position: absolute; background-color: #3F51B5; height: 232px; width: 100%;"></div>

<div ng-controller="usersListCtrl" style="position: relative;">
    <div layout="row">
        <div flex="15" flex-md="5" hide-sm></div>
        <div flex
             style="margin-top: 30px; margin-bottom: 30px; box-shadow: 0 1px 2px rgba(0,0,0,0.26); background-color: #FFFFFF; z-index: 3;">
            <md-toolbar class="demo-toolbar">
                <div layout="row">
                    <div flex="40">
                        <h2 class="md-toolbar-tools">
                            <span>Пользователи</span>
                        </h2>
                    </div>
                    <div class="md-toolbar-tools" layout="row" flex style="padding-top: 15px;">
                        <md-input-container flex>
                            <input placeholder="Имя пользователя" ng-model="username">
                        </md-input-container>
                    </div>
                </div>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-item class="animate" ng-model="notFound"
                             ng-repeat="user in filteredUsers = (users | filter: {fullName:username})">
                        <md-item-content style="align-items: flex-start !important;">
                            <div class="md-tile-left">
                                <img src="/bower_components/material-design-icons/action/svg/design/ic_account_circle_24px.svg"
                                     class="face" alt="{{user.fullName}}">
                            </div>
                            <div class="md-tile-content" layout="row">
                                <div flex="50">
                                    <h3><a href="/users/{{users.indexOf(user)}}"> {{user.fullName}}</a></h3>
                                    <h4>exp: {{user.exp | thousand}}</h4>

                                    <p>
                                        Выполнено заданий: {{user.tasksDone.length}}
                                    </p>

                                    <p> Проверено: {{user.tasksChecked.length}}
                                    </p>

                                    <p> Подтверждено: {{user.tasksApproved.length}}
                                    </p>

                                    <p> Создано: {{user.tasksCreated.length}}
                                    </p>
                                </div>
                                <div flex>
                                    <h3 style="float: left; margin-right: 7px;">Умею:</h3>
                                    <md-button class="md-raised md-primary label-button"
                                               ng-repeat="skill in user.skills">{{skills[skill].title}}
                                    </md-button>
                                    <br>

                                    <h3 style="float: left; margin-right: 7px;">Хочу:</h3>
                                    <md-button class="md-raised md-accent md-hue-2 label-button"
                                               ng-repeat="need in user.needs">{{skills[need].title}}
                                    </md-button>
                                </div>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                    <md-item ng-show="filteredUsers.length == 0">
                        <md-item-content>
                            <div class="md-tile-content" layout="column" layout-align="center center">
                                <div>
                                    <h3 style="color: rgba(0,0,0,0.54);">Пользователь с таким именем не найден :(</h3>
                                </div>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>
        <div flex="15" flex-md="5" hide-sm></div>
    </div>
</div>