<style>
    .login-social-btn {
        margin: 0 10px 0 0;
        padding: 3px 0 0 0;
        min-width: 0;
        min-height: 0;
        line-height: normal;
        width: 35px;
        height: 35px;
    }
</style>

<md-dialog aria-label="Вход на сайт" style="width: 25%;">
    <form name="logForm">
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect"
                          style="background-color: #E8EAF6; font-weight: 600; color: rgba(0, 0, 0, 0.54);">
                <div layout="row" layout-align="start center">
                    <span>Вход на сайт</span>
                    <span flex></span>
                    <md-button href="/auth/facebook" target="_self" class="md-raised md-primary login-social-btn" aria-label="social-login-facebook">
                        <md-tooltip>Войти через Facebook</md-tooltip>
                        <div layout="row" layout-align="center center" flex>
                            <img src="/front/images/ic_facebook.png">
                        </div>
                    </md-button>
                    <md-button href="/auth/facebook" target="_self" class="md-raised md-primary login-social-btn" aria-label="social-login-vkontakte">
                        <md-tooltip>Войти через ВКонтакте</md-tooltip>
                        <div layout="row" layout-align="center center" flex>
                            <img src="/front/images/ic_vkontakte.png">
                        </div>
                    </md-button>
                    <md-button href="/auth/facebook" target="_self" class="md-raised md-primary login-social-btn" aria-label="social-login-google">
                        <md-tooltip>Войти через Google+</md-tooltip>
                        <div layout="row" layout-align="center center" flex>
                            <img src="/front/images/ic_google.png">
                        </div>
                    </md-button>
                    <md-button href="/auth/facebook" target="_self" class="md-raised md-primary login-social-btn" aria-label="social-login-github">
                        <md-tooltip>Войти через GitHub</md-tooltip>
                        <div layout="row" layout-align="center center" flex>
                            <img src="/front/images/ic_github.png">
                        </div>
                    </md-button>
                </div>
            </md-subheader>
            <md-input-container style="margin: 0 20px 0 20px;">
                <label>E-mail</label>
                <input ng-model="log.email" name="emailN" required>
                <div ng-messages="getLoginErr()">
                    <div ng-message="loginerr">Неправильный email или пароль</div>
                </div>
            </md-input-container>
            <md-input-container style="margin: 0 20px 0 20px; padding-bottom: 0;">
                <label>Пароль</label>
                <input ng-model="log.password" name="passwordN" type="password" required>
            </md-input-container>
            <a href="/restore" style="font-size: small; margin-left: 22px;">
                Забыли пароль?
            </a>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="answer()" class="md-primary">
                Войти
            </md-button>
            <md-button ng-click="cancel()" class="md-primary">
                Отмена
            </md-button>
        </div>
    </form>
</md-dialog>