
<div layout="row" style="padding-top: 30px; padding-bottom: 30px;">

    <scroll-loader events="['tasksDoneScrolled', 'tasksCheckedScrolled', 'tasksApprovedScrolled', 'tasksCreatedScrolled']"
                   load-func="scrollWrap.loadFunc" options="scrollWrap.loadOptions"
                   callback="scrollWrap.callback"></scroll-loader>

    <div flex="15"></div>
    <div layout="row" style="min-width: 225px; max-width: 225px;">
        <div layout="column" flex>
            <div layout="row" layout-align="center center" style="overflow: hidden; width: 225px; height: 225px;
             box-shadow: 0 3px 6px rgba(0, 0, 0, 0.54); background-color: #FAFAFA;">
                <img ng-if="user.avatar" alt="{{user.nick}}" ng-src='{{user.avatar}}'
                     style="width: 100%; height: 100%;">
                <i ng-if="!user.avatar" class="mdi mdi-account mdi-200 mdi-secondary"></i>
            </div>
            <div style="padding-left: 2px;">
                <h3 style="margin-bottom: 0px; margin-top: 10px;">{{user.name}}</h3>
                <h4 style="margin: 0 0 5px 0; color: rgba(0,0,0,0.54);">{{user.nick}}</h4>
                <h4 style="margin-top: 5px; margin-bottom: 0px; color: rgba(0,0,0,0.54); font-weight: normal;">exp:
                    {{user.exp || 0 | thousand}}</h4>
            </div>

            <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>

            <div layout="row" layout-align="space-around center">
                <h4 style="margin-bottom: 0px; margin-top: 0px; color: #3F51B5;">{{user.skills.length || 0}}</h4>
                <h4 style="margin-bottom: 0px; margin-top: 0px; color: #E91E63;">{{user.needs.length || 0}}</h4>
            </div>
            <div layout="row" layout-align="space-around center">
                <h5 style="margin-bottom: 0px; margin-top: 0px; color: rgba(0,0,0,0.54);">Умею</h5>
                <h5 style="margin-bottom: 0px; margin-top: 0px; color: rgba(0,0,0,0.54);">Хочу</h5>
            </div>


            <div ng-if="user.skills.length">
                <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>
                <div layout="column" layout-align="center center">
                    <h4 style="margin: 0px; margin-bottom: 5px;">Умею</h4>
                </div>
                <div id="kostyl">
                    <skill-button ng-repeat="skill in user.skills" id="skill.skill_id" type="skill" hide-add
                                  count="skill.count" with-add="ownProfile && skill.count < 1" tooltip-add="Добавить в 'Хочу'"></skill-button>
                </div>
            </div>

            <div ng-if="user.needs.length">
                <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>
                <div layout="column" layout-align="center center">
                    <h4 style="margin: 0px; margin-bottom: 5px;">Хочу</h4>
                </div>
                <div id="kostyl">
                    <skill-button ng-repeat="need in user.needs" id="need.skill_id" type="need" hide-remove
                                  count="need.count" with-remove="ownProfile" tooltip-remove="Убрать из 'Хочу'"></skill-button>
                </div>
            </div>

        </div>
    </div>
    <div layout="row" flex>
        <div layout="column" flex style="padding-left: 20px;">
            <ul class="tabs">
                <li>
                    <input type="radio" name="tabs" id="tab1" ng-checked="categoryNum === 0"/>
                    <label for="tab1" ng-click="categoryNum = 0">Прогресс</label>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab2" ng-checked="categoryNum === 1"/>
                    <label for="tab2" ng-click="categoryNum = 1">Информация</label>
                </li>
            </ul>
            <div ng-switch="categoryNum">
                <div ng-switch-when="0" style="box-shadow: 0 1px 2px rgba(0,0,0,0.26);">
                    <md-tabs md-selected="tabSelected" ng-click="setScrollOptions(tabSelected)">
                        <md-tab>Решено: <span style="font-weight: bold;">{{user.tasks_done.length || 0}}</span></md-tab>
                        <md-tab>Проверено: <span style="font-weight: bold;">{{user.solutions_checked.length || 0}}</span>
                        </md-tab>
                        <md-tab>Подтверждено: <span
                                style="font-weight: bold;">{{user.tasks_approved.length || 0}}</span></md-tab>
                        <md-tab>Создано: <span style="font-weight: bold;">{{user.tasks_created.length || 0}}</span>
                        </md-tab>
                    </md-tabs>
                    <md-content flex style="max-height: calc(100vh - 215px); overflow-y: scroll;"
                                on-scroll-bottom="scrollWrap.scrollOptions">
                        <md-list>
                            <ng-switch on="tabSelected">
                                <div ng-switch-when="0">
                                    <tasks-list tasks="tasksDone" show-expand="false"></tasks-list>
                                    <div ng-if="!tasksDone" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не решил ни одного задания</h3>
                                    </div>
                                </div>
                                <div ng-switch-when="1">
                                    <solutions-list solutions="solutionsChecked" show-expand="false"></solutions-list>
                                    <div ng-if="!solutionsChecked" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не проверил ни одного решения</h3>
                                    </div>
                                </div>
                                <div ng-switch-when="2">
                                    <tasks-list tasks="tasksApproved" show-expand="false" show-difficulty="false"></tasks-list>
                                    <div ng-if="!tasksApproved" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не подтвердил ни одного задания</h3>
                                    </div>
                                </div>
                                <div ng-switch-when="3">
                                    <tasks-list tasks="tasksCreated" show-expand="false" show-difficulty="false"></tasks-list>
                                    <div ng-if="!tasksCreated" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не создал ни одного задания</h3>
                                    </div>
                                </div>
                            </ng-switch>
                        </md-list>
                    </md-content>
                </div>
                <md-card ng-switch-when="1" style="margin: 0;">
                    <md-card-content style="padding-top: 0; padding-bottom: 0;">
                        <md-content style="overflow: visible;">
                        <md-list class="info-list">
                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r1 = true"
                                          ng-mouseleave="r1 = false"  ng-if="user.role !== 'пользователь'">
                                <div flex="30" class="info-header">Роль:</div>
                                <div>{{user.role}}</div>
                                <div flex></div>
                                <md-button class="edit-button" ng-if="r1 && ownProfile" aria-label="LaLat">
                                    <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                </md-button>
                            </md-list-item>

                            <md-divider ng-if="user.role !== 'пользователь'"></md-divider>

                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r1 = true"
                                          ng-mouseleave="r1 = false">
                                <div flex="30" class="info-header">День рождения:</div>
                                <div ng-if="!info.editing.birthday" layout="row" flex>
                                    <div ng-if="user.birthday">{{user.birthday | date: 'dd MMMM yyyy'}} г.</div>
                                    <div class="info-empty" ng-if="!user.birthday">не указано</div>
                                    <div flex></div>
                                    <md-button class="edit-button" ng-show="r1 && ownProfile" aria-label="btnEditBirthday"
                                            ng-click="editInfo('birthday')">
                                        <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                        <md-tooltip>Редактировать</md-tooltip>
                                    </md-button>
                                    <span ng-show="!(r1 && ownProfile)" class="edit-button-span"></span>
                                </div>
                                <div ng-if="info.editing.birthday" layout="row" flex>
                                    <input type="date" ng-model="info.birthday">
                                    <div flex></div>
                                    <md-button class="edit-button" aria-label="btnSaveBirthday"
                                               ng-click="updateProfile('birthday')">
                                        <i class="mdi mdi-content-save mdi-24 mdi-secondary"></i>
                                        <md-tooltip>Сохранить</md-tooltip>
                                    </md-button>
                                    <md-button class="edit-button" aria-label="btnCancelBirthday"
                                               ng-click="cancelEdit('birthday')">
                                        <i class="mdi mdi-close-circle-outline mdi-24 mdi-secondary"></i>
                                        <md-tooltip>Отменить</md-tooltip>
                                    </md-button>
                                </div>
                            </md-list-item>

                            <md-divider></md-divider>

                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r2 = true"
                                          ng-mouseleave="r2 = false">
                                <div flex="30" class="info-header">Место проживания:</div>
                                <div ng-if="!info.editing.location" layout="row" flex>
                                    <div ng-if="user.city || user.country">{{user.city}}<span
                                            ng-if="user.city && user.country">, </span>{{user.country}}
                                    </div>
                                    <div class="info-empty" ng-if="!(user.city || user.country)">не указано</div>
                                    <div flex></div>
                                    <md-button class="edit-button" ng-show="r2 && ownProfile" aria-label="btnEditLocation"
                                               ng-click="editInfo('location')">
                                        <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                        <md-tooltip>Редактировать</md-tooltip>
                                    </md-button>
                                    <span ng-show="!(r2 && ownProfile)" class="edit-button-span"></span>
                                </div>
                                <div ng-if="info.editing.location" layout="row" flex>
                                    <input type="text" ng-model="info.city" maxlength="32" placeholder="Город"
                                           style="margin-right: 10px;">
                                    <input type="text" ng-model="info.country" maxlength="32" placeholder="Страна">
                                    <div flex></div>
                                    <md-button class="edit-button" aria-label="btnSaveLocation"
                                               ng-click="updateProfile('location')">
                                        <i class="mdi mdi-content-save mdi-24 mdi-secondary"></i>
                                        <md-tooltip>Сохранить</md-tooltip>
                                    </md-button>
                                    <md-button class="edit-button" aria-label="btnCancelLocation"
                                               ng-click="cancelEdit('location')">
                                        <i class="mdi mdi-close-circle-outline mdi-24 mdi-secondary"></i>
                                        <md-tooltip>Отменить</md-tooltip>
                                    </md-button>
                                </div>
                            </md-list-item>

                            <md-divider></md-divider>

                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r3 = true" ng-mouseleave="r3 = false">
                                <div flex="30" class="info-header">Образование:</div>
                                <div layout="column" flex>
                                    <div ng-if="!info.editing.education" layout="row" layout-align="start start" flex>
                                        <div layout="column" flex>
                                            <div layout="row" layout-align="start start" flex ng-repeat="ed in user.educationArr"
                                                 ng-class="{'not-last': !$last}">
                                                <div flex><span ng-if="user.educationArr.length > 1" class="info-header">•</span>
                                                    {{ed}}
                                                </div>
                                            </div>
                                            <div class="info-empty" ng-if="!user.educationArr || user.educationArr.length == 0">не указано</div>
                                        </div>
                                        <md-button class="edit-button" ng-show="r3 && ownProfile"
                                                   aria-label="btnEditEducation" ng-click="editInfo('education')">
                                            <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                            <md-tooltip>Редактировать</md-tooltip>
                                        </md-button>
                                        <span ng-show="!(r3 && ownProfile)" class="edit-button-span"></span>
                                    </div>
                                    <div ng-if="info.editing.education" layout="row" layout-align="start start" flex>
                                        <div layout="column" flex>
                                            <div layout="row" layout-align="start start" flex ng-repeat="ed in info.educationArr"
                                                 ng-class="{'not-last': !$last}">
                                                <div flex><span ng-if="info.educationArr.length > 1" class="info-header">•</span>
                                                    {{ed}}
                                                </div>
                                                <md-button class="expand-button" style="margin-left: 10px;" aria-label="btnRemoveEducation"
                                                           ng-click="removeEducation($index)">
                                                    <i class="mdi mdi-close mdi-24 mdi-secondary"></i>
                                                    <md-tooltip>Удалить</md-tooltip>
                                                </md-button>
                                            </div>
                                        </div>
                                        <md-button class="edit-button" aria-label="btnSaveEducation"
                                                   ng-click="updateProfile('education')">
                                            <i class="mdi mdi-content-save mdi-24 mdi-secondary"></i>
                                            <md-tooltip>Сохранить</md-tooltip>
                                        </md-button>
                                        <md-button class="edit-button" aria-label="btnCancelEducation"
                                                   ng-click="cancelEdit('education')">
                                            <i class="mdi mdi-close-circle-outline mdi-24 mdi-secondary"></i>
                                            <md-tooltip>Отменить</md-tooltip>
                                        </md-button>
                                    </div>
                                    <div ng-if="info.editing.education">
                                        <div layout="row">
                                            <md-input-container flex style="padding-bottom: 5px; padding-left: 0px;">
                                                <label>Название учебного заведения</label>
                                                <input type="text" ng-model="info.edName">
                                            </md-input-container>
                                        </div>
                                        <div layout="row" layout-align="start start">
                                            <md-input-container flex style="padding-left: 0px;">
                                                <label>Что изучали</label>
                                                <input type="text" ng-model="info.edConc">
                                            </md-input-container>
                                            <md-select placeholder="Год окончания" ng-model="info.edYear">
                                                <md-option ng-repeat="i in range" value="{{i}}">{{i}}</md-option>
                                            </md-select>
                                            <div style="margin-top: 8px;">
                                                <md-button class="md-raised" ng-click="addEducation()">Добавить</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-list-item>

                            <md-divider></md-divider>

                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r4 = true"
                                          ng-mouseleave="r4 = false">
                                <div flex="30" class="info-header">Работа:</div>
                                <div ng-if="!info.editing.work" layout="row" layout-align="start start" flex>
                                    <div flex layout="column">
                                        <div ng-repeat="wo in user.workArr" ng-class="{'not-last': !$last}">
                                            <div><span ng-if="user.workArr.length > 1" class="info-header">•</span>
                                                {{wo}}
                                            </div>
                                        </div>
                                        <div class="info-empty" ng-if="!user.workArr || user.workArr.length == 0">не указано</div>
                                    </div>
                                    <md-button class="edit-button" ng-show="r4 && ownProfile" aria-label="btnEditWork"
                                               ng-click="editInfo('work')">
                                        <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                        <md-tooltip>Редактировать</md-tooltip>
                                    </md-button>
                                    <span ng-show="!(r4 && ownProfile)" class="edit-button-span"></span>
                                </div>
                                <div ng-if="info.editing.work" layout="column">
                                    <div layout="row" layout-align="start start">
                                        <div layout="column" flex>
                                            <div layout="row" layout-align="start start" flex ng-repeat="wo in info.workArr" ng-class="{'not-last': !$last}">
                                                <div flex><span ng-if="info.workArr.length > 1" class="info-header">•</span>
                                                    {{wo}}
                                                </div>
                                                <md-button class="expand-button" style="margin-left: 10px;" aria-label="btnRemoveWork"
                                                           ng-click="removeWork($index)">
                                                    <i class="mdi mdi-close mdi-24 mdi-secondary"></i>
                                                    <md-tooltip>Удалить</md-tooltip>
                                                </md-button>
                                            </div>
                                        </div>
                                        <md-button class="edit-button" aria-label="btnSaveEducation"
                                                   ng-click="updateProfile('work')">
                                            <i class="mdi mdi-content-save mdi-24 mdi-secondary"></i>
                                            <md-tooltip>Сохранить</md-tooltip>
                                        </md-button>
                                        <md-button class="edit-button" aria-label="btnCancelEducation"
                                                   ng-click="cancelEdit('work')">
                                            <i class="mdi mdi-close-circle-outline mdi-24 mdi-secondary"></i>
                                            <md-tooltip>Отменить</md-tooltip>
                                        </md-button>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex style="padding-bottom: 5px; padding-left: 0px;">
                                            <label>Место работы</label>
                                            <input type="text" ng-model="info.woName">
                                        </md-input-container>
                                        <md-input-container flex style="padding-bottom: 5px;">
                                            <label>Должность</label>
                                            <input type="text" ng-model="info.woPosition">
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                    <md-input-container flex style="padding-left: 0px;">
                                        <label>С</label>
                                        <input type="date" ng-model="info.woStartDate">
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>По</label>
                                        <input type="date" ng-model="info.woEndDate">
                                    </md-input-container>
                                    <div style="margin-top: 8px;">
                                        <md-button class="md-raised" ng-click="addWork()">Добавить</md-button>
                                    </div>
                                </div>
                                </div>
                            </md-list-item>
                        </md-list>
                        </md-content>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div flex="15"></div>
</div>