<link rel="stylesheet" href="/front/users/styles.css">

<div layout="row" style="padding-top: 30px; padding-bottom: 30px;">

    <scroll-loader events="['tasksDoneScrolled', 'tasksCheckedScrolled', 'tasksApprovedScrolled', 'tasksCreatedScrolled']"
                   load-func="scrollWrap.loadFunc" options="scrollWrap.options"
                   set-liked="true" set-received="true" callback="scrollWrap.callback"></scroll-loader>

    <div flex="15"></div>
    <div layout="row" style="min-width: 225px; max-width: 225px;">
        <div layout="column" flex>
            <div layout="row" layout-align="center center" style="overflow: hidden; width: 225px; height: 225px;
             box-shadow: 0 3px 6px rgba(0, 0, 0, 0.54); background-color: #FAFAFA;">
                <img ng-if="user.avatar" alt="{{user.nick}}" ng-src='{{user.avatar}}'
                     style="width: 100%; height: 100%;">
                <i ng-if="!user.avatar" class="mdi mdi-account mdi-200 mdi-secondary"></i>
            </div>
            <div style="padding-left: 2px;">
                <h3 style="margin-bottom: 0px; margin-top: 10px;">{{user.name}}</h3>
                <h4 style="margin: 0 0 5px 0; color: rgba(0,0,0,0.54);">{{user.nick}}</h4>
                <h4 style="margin-top: 5px; margin-bottom: 0px; color: rgba(0,0,0,0.54); font-weight: normal;">exp:
                    {{user.exp || 0 | thousand}}</h4>
            </div>

            <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>

            <div layout="row" layout-align="space-around center">
                <h4 style="margin-bottom: 0px; margin-top: 0px; color: #3F51B5;">{{user.skills.length || 0}}</h4>
                <h4 style="margin-bottom: 0px; margin-top: 0px; color: #E91E63;">{{user.needs.length || 0}}</h4>
            </div>
            <div layout="row" layout-align="space-around center">
                <h5 style="margin-bottom: 0px; margin-top: 0px; color: rgba(0,0,0,0.54);">Умею</h5>
                <h5 style="margin-bottom: 0px; margin-top: 0px; color: rgba(0,0,0,0.54);">Хочу</h5>
            </div>


            <div ng-if="user.skills">
                <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>
                <div layout="column" layout-align="center center">
                    <h4 style="margin: 0px; margin-bottom: 5px;">Умею</h4>
                </div>
                <div>
                    <md-button class="md-raised md-primary skill-button" aria-label="skillBtn" style="max-width: 225px;"
                               ng-repeat="skillProgress in user.skills">
                        {{findSkill(skillProgress.id).title}}
                    </md-button>
                </div>
            </div>

            <div ng-if="user.needs">
                <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>
                <div layout="column" layout-align="center center">
                    <h4 style="margin: 0px; margin-bottom: 5px;">Хочу</h4>
                </div>
                <div>
                    <md-button class="md-raised md-accent skill-button" aria-label="skillBtn" style="max-width: 225px;"
                               ng-repeat="need in user.needs">{{findSkill(need).title}}
                    </md-button>
                </div>
            </div>

        </div>
    </div>
    <div layout="row" flex>
        <div layout="column" flex style="padding-left: 20px;">
            <div layout="row" style="margin-bottom: 10px;">
                <ul class="profile-categories">
                    <li><a href ng-click="categoryNum = 0"
                           ng-class="{'category-selected': categoryNum == 0}">Прогресс</a></li>
                    <li class="category-divider">|</li>
                    <li><a href ng-click="categoryNum = 1"
                           ng-class="{'category-selected': categoryNum == 1}">Информация</a></li>
                </ul>
            </div>
            <div ng-switch="categoryNum">
                <div ng-switch-when="0" style="box-shadow: 0 1px 2px rgba(0,0,0,0.26);">
                    <md-tabs md-selected="tabSelected" ng-click="setScrollOptions(tabSelected)">
                        <md-tab>Решено: <span style="font-weight: bold;">{{user.tasks_done.length || 0}}</span></md-tab>
                        <md-tab>Проверено: <span style="font-weight: bold;">{{user.solutions_checked.length || 0}}</span>
                        </md-tab>
                        <md-tab>Подтверждено: <span
                                style="font-weight: bold;">{{user.tasks_approved.length || 0}}</span></md-tab>
                        <md-tab>Создано: <span style="font-weight: bold;">{{user.tasks_created.length || 0}}</span>
                        </md-tab>
                    </md-tabs>
                    <md-content flex style="max-height: calc(100vh - 215px); overflow-y: scroll;"
                                on-scroll-bottom="scrollWrap.scrollOptions">
                        <md-list>
                            <ng-switch on="tabSelected">
                                <div ng-switch-when="0">
                                    <tasks-list tasks-obj="tasks_done" show-like="!canEdit" show-expand="false"
                                                show-difficulty="false" solvable="false" show-receive="!canEdit">
                                    </tasks-list>
                                    <div ng-if="!user.tasks_done" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не решил ни одного задания</h3>
                                    </div>
                                </div>
                                <div ng-switch-when="1">
                                    <!-- ИСПРАВИТЬ!!! -->
                                    <solutions-list solutions-obj="solutions_checked" show-expand="false"></solutions-list>
                                    <div ng-if="!user.solutions_checked" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не проверил ни одного решения</h3>
                                    </div>
                                </div>
                                <div ng-switch-when="2">
                                    <tasks-list tasks-obj="tasks_approved" show-expand="false" show-difficulty="false"
                                                solvable="false"></tasks-list>
                                    <div ng-if="!user.tasks_approved" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не подтвердил ни одного задания</h3>
                                    </div>
                                </div>
                                <div ng-switch-when="3">
                                    <tasks-list tasks-obj="tasks_created" show-expand="false" show-difficulty="false"
                                                solvable="false"></tasks-list>
                                    <div ng-if="!user.tasks_created" class="md-tile-content"
                                         layout="column" layout-align="center center" flex>
                                        <h3 class="list-empty">Пользователь не создал ни одного задания</h3>
                                    </div>
                                </div>
                            </ng-switch>
                        </md-list>
                    </md-content>
                </div>
                <md-card ng-switch-when="1" style="margin: 0;">
                    <md-card-content style="padding-top: 0; padding-bottom: 0;">
                        <md-list class="info-list">
                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r1 = true"
                                          ng-mouseleave="r1 = false">
                                <div flex="30" class="info-header">День рождения:</div>
                                <div ng-if="user.birthday">{{user.birthday | date: 'dd MMMM yyyy'}} г.</div>
                                <div class="info-empty" ng-if="!user.birthday">не указано</div>
                                <div flex></div>
                                <md-button class="edit-button" ng-if="r1 && canEdit" aria-label="LaLat">
                                    <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                </md-button>
                            </md-list-item>

                            <md-divider></md-divider>

                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r2 = true"
                                          ng-mouseleave="r2 = false">
                                <div flex="30" class="info-header">Место проживания:</div>
                                <div ng-if="user.city || user.country">{{user.city}}<span
                                        ng-if="user.city && user.country">, </span>{{user.country}}
                                </div>
                                <div class="info-empty" ng-if="!(user.city || user.country)">не указано</div>
                                <div flex></div>
                                <md-button class="edit-button" ng-if="r2 && canEdit">
                                    <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                </md-button>
                            </md-list-item>

                            <md-divider></md-divider>

                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r3 = true"
                                          ng-mouseleave="r3 = false">
                                <div flex="30" class="info-header">Образование:</div>
                                <div flex layout="column">
                                    <div ng-repeat="ed in user.educationStr" ng-class="{'not-last': !$last}">
                                        <div><span ng-if="user.educationStr.length > 1" class="info-header">•</span>
                                            {{ed}}
                                        </div>
                                    </div>
                                    <div class="info-empty" ng-if="!user.educationStr || user.educationStr.length == 0">не указано</div>
                                </div>
                                <md-button class="edit-button" ng-if="r3 && canEdit">
                                    <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                </md-button>
                            </md-list-item>

                            <md-divider></md-divider>

                            <md-list-item layout="row" layout-align="start start" ng-mouseenter="r4 = true"
                                          ng-mouseleave="r4 = false">
                                <div flex="30" class="info-header">Работа:</div>
                                <div flex layout="column">
                                    <div ng-repeat="wo in user.workStr" ng-class="{'not-last': !$last}">
                                        <div><span ng-if="user.workStr.length > 1" class="info-header">•</span>
                                            {{wo}}
                                        </div>
                                    </div>
                                    <div class="info-empty" ng-if="!user.workStr || user.workStr.length == 0">не указано</div>
                                </div>
                                <md-button class="edit-button" ng-if="r4 && canEdit">
                                    <i class="mdi mdi-pencil mdi-24 mdi-secondary"></i>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div flex="15"></div>
</div>