<link rel="stylesheet" href="/front/users/styles.css">
<div style="position: absolute; background-color: #3F51B5; height: 232px; width: 100%;"></div>
<div layout="row" style="position: relative">
    <div flex="15" flex-md="5" hide-sm></div>
    <div flex
         style="margin-top: 30px; margin-bottom: 30px;">
        <md-card>
            <md-subheader class="md-no-sticky"
                          style="font-size: 20px; color: #3F51B5;
                          margin: 0; text-align: center; letter-spacing: 2px;
                          background-color: #EEEEEE">Регистрация: шаг {{step}} / 3</md-subheader>
            <md-card-content ng-switch="step">
                <div ng-switch-when="1">
                    <form name="regForm">
                        <div layout="row">
                            <div layout="column" flex style="padding: 0 30px 0 20px;">
                                <md-input-container>
                                    <label>Имя</label>
                                    <input required ng-model="reg.name" name="nameN" md-maxlength="64">
                                    <div ng-messages="regForm.nameN.$error">
                                        <div ng-message="required">Обязательное поле</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Никнейм</label>
                                    <input required ng-model="reg.nick" name="nickN" md-maxlength="32">
                                    <div ng-messages="regForm.nickN.$error">
                                        <div ng-message="required">Обязательное поле</div>
                                        <div ng-messages="exists">
                                            <div ng-message="nick">Такой nick уже зарегистрирован</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>E-mail</label>
                                    <input required ng-model="reg.email" name="emailN" md-maxlength="128">
                                    <div ng-messages="regForm.emailN.$error">
                                        <div ng-message="required">Обязательное поле</div>
                                        <div ng-messages="exists">
                                            <div ng-message="emailnotvalid">Неверный формат email! Пример: alexzin@mail.ru</div>
                                            <div ng-message="email">Такой email уже зарегистрирован</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Пароль</label>
                                    <input required type="password" ng-model="reg.password" name="passwordN">
                                    <div ng-messages="regForm.passwordN.$error">
                                        <div ng-message="required">Обязательное поле</div>
                                        <div ng-messages="passwordsEqual()">
                                            <div ng-message="notequal">Пароли не совпадают</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Повторите пароль</label>
                                    <input required type="password" ng-model="reg.rePassword" name="rePasswordN">
                                    <div ng-messages="regForm.rePasswordN.$error">
                                        <div ng-message="required">Обязательное поле</div>
                                        <div ng-messages="passwordsEqual()">
                                            <div ng-message="notequal">Пароли не совпадают</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="center center">
                                    <md-button class="md-raised md-primary register-button"
                                               ng-click="register()" aria-label="logout-btn">
                                        Зарегистрироваться
                                    </md-button>
                                </div>
                            </div>
                            <div layout="column" layout-align="center center" flex style="padding: 0 20px 0 30px;">
                                <fieldset layout-fill>
                                    <legend style="text-align: center;">Войти через</legend>
                                    <div  layout="column">
                                        <md-button class="md-raised md-primary" href="/auth/facebook" target="_self">
                                            <div layout="row" flex>
                                                <div layout="row" layout-align="center center">
                                                    <img src="/front/images/ic_facebook.png">
                                                </div>
                                                <div layout="row" layout-align="center center" flex>
                                                    <span class="social-btn-text">Facebook</span>
                                                </div>
                                            </div>
                                        </md-button>
                                        <md-button class="md-raised md-primary">
                                            <div layout="row" flex>
                                                <div layout="row" layout-align="center center">
                                                    <img src="/front/images/ic_vkontakte.png">
                                                </div>
                                                <div layout="row" layout-align="center center" flex>
                                                    <span class="social-btn-text">ВКонтакте</span>
                                                </div>
                                            </div>
                                        </md-button>
                                        <md-button class="md-raised md-primary">
                                            <div layout="row" flex>
                                                <div layout="row" layout-align="center center">
                                                    <img src="/front/images/ic_google.png">
                                                </div>
                                                <div layout="row" layout-align="center center" flex>
                                                    <span class="social-btn-text">Google</span>
                                                </div>
                                            </div>
                                        </md-button>
                                        <md-button class="md-raised md-primary">
                                            <div layout="row" flex>
                                                <div layout="row" layout-align="center center">
                                                    <img src="/front/images/ic_github.png">
                                                </div>
                                                <div layout="row" layout-align="center center" flex>
                                                    <span class="social-btn-text">GitHub</span>
                                                </div>
                                            </div>
                                        </md-button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-switch-when="2" layout="column">
                    <form name="regForm2" layout="row">
                        <div layout="column" flex="25">

                            <div ng-if="isImageRes" flex style="overflow: hidden; max-height: 300px; min-height: 225px;
                                 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.54); background-color: #FAFAFA;">
                            <img ng-src='{{reg.imgSrcRes}}'
                                 style="width: 100%; height: 100%;">
                            </div>
                            <img ng-if="!isImageRes"
                                 src="/bower_components/material-design-icons/social/svg/design/ic_person_48px.svg"
                                 style="opacity: 0.26; width: 100%; height: 100%; border: 2px dashed rgba(0, 0, 0, 0.26);">
                        </div>
                        <div layout="column" flex style="padding-left: 15px;">
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Ссылка на изображение профиля</label>
                                    <input type="text" ng-model="reg.imgSrc">
                                </md-input-container>
                                <div style="margin-top: 8px;"><md-button class="md-raised">Загрузить</md-button></div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <md-input-container flex>
                                    <label>Ваш день рождения</label>
                                    <input type="date" ng-model="reg.birthday">
                                </md-input-container>
                                <md-radio-group ng-model="reg.gender">
                                    <div layout="row">
                                        <md-radio-button value="мужской" class="md-primary">Мужчина</md-radio-button>
                                        <md-radio-button value="женский" class="md-accent">Женщина</md-radio-button>
                                    </div>
                                </md-radio-group>
                            </div>
                            <div layout="row" layout-align="start center">
                                <md-input-container flex>
                                    <label>Город</label>
                                    <input type="text" ng-model="reg.city">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Страна</label>
                                    <input type="text" ng-model="reg.country">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="start start">
                                <div flex="25" style="margin: 15px 0 0 3px; color: rgba(0, 0, 0, 0.54);">Образование:</div>
                                <div layout="column" flex style="margin-top: 15px;">
                                    <div layout="row" layout-align="center center" flex ng-repeat="ed in reg.educationStr" ng-class="{'not-last': !$last}">
                                        <div flex><span ng-if="reg.educationStr.length > 1" class="info-header">•</span>
                                            {{ed}}
                                        </div>
                                        <md-button class="expand-button" style="margin-left: 10px;"
                                                   ng-click="removeEducation($index)" title="Удалить">
                                            <md-icon md-svg-icon="/bower_components/material-design-icons/content/svg/design/ic_clear_24px.svg"
                                                     aria-label="LaLat" style="outline: none;"
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <div layout="row">
                                <md-input-container flex style="padding-bottom: 5px;">
                                    <label>Название учебного заведения</label>
                                    <input type="text" ng-model="reg.edName">
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Что изучали</label>
                                    <input type="text" ng-model="reg.edConc">
                                </md-input-container>
                                <md-select style="margin-top: 7px;" placeholder="Год окончания" ng-model="reg.edYear">
                                    <md-option ng-repeat="i in range" value="{{i}}">{{i}}</md-option>
                                </md-select>
                                <div style="margin-top: 8px;">
                                    <md-button class="md-raised" ng-click="addEducation()">Добавить</md-button>
                                </div>
                            </div>

                            <div layout="row" layout-align="start start">
                                <div flex="25" style="margin: 15px 0 0 3px; color: rgba(0, 0, 0, 0.54);">Работа:</div>
                                <div layout="column" flex style="margin-top: 15px;">
                                    <div layout="row" layout-align="center center" flex ng-repeat="wo in reg.workStr" ng-class="{'not-last': !$last}">
                                        <div flex><span ng-if="reg.workStr.length > 1" class="info-header">•</span>
                                            {{wo}}
                                        </div>
                                        <md-button class="expand-button" style="margin-left: 10px;"
                                                   ng-click="removeWork($index)" title="Удалить">
                                            <md-icon md-svg-icon="/bower_components/material-design-icons/content/svg/design/ic_clear_24px.svg"
                                                     aria-label="LaLat" style="outline: none;"
                                            </md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <div layout="row">
                                <md-input-container flex style="padding-bottom: 5px;">
                                    <label>Место работы</label>
                                    <input type="text" ng-model="reg.woName">
                                </md-input-container>
                                <md-input-container flex style="padding-bottom: 5px;">
                                    <label>Должность</label>
                                    <input type="text" ng-model="reg.woPosition">
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>С</label>
                                    <input type="date" ng-model="reg.woStartDate">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>По</label>
                                    <input type="date" ng-model="reg.woEndDate">
                                </md-input-container>
                                <div style="margin-top: 8px;">
                                    <md-button class="md-raised" ng-click="addWork()">Добавить</md-button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="15" flex-md="5" hide-sm></div>
</div>