.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ican {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
}

.count-button {
    font-size: 12px;
    margin: 0 20px 0 5px;
    padding: 0 5px 0 5px;
    min-width: 0 !important;
    min-height: 0 !important;
    line-height: normal !important;
}

.count-icon {
    width: 20px;
    height: 20px;
}

.register-area {
    padding-left: 20px;
}

.register-button {
    margin: 10px 0 0 0;
}

.social-btn-text {
    margin-left: -29px;
}

.tabs {
    width: 650px;
    float: none;
    list-style: none;
    position: relative;
    text-align: left;
    padding: 0;
    margin: 0;
}
.tabs li {
    float: left;
    display: block;
}
.tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs label {
    color: white;
    display: block;
    padding: 5px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    background: #9FA8DA;
    cursor: pointer;
    position: relative;
    top: 5px;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.tabs label:hover {
    background: #8C9EFF;
}
.tabs [id^="tab"]:checked + label {
    top: 0;
    padding-top: 10px;
    background: #3F51B5;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}

.info-list {
    padding: 0;
}

.info-list md-list-item {
    min-height: 54px;
    padding: 15px 0 15px 0;
}

.info-divider {
    margin: 10px 0 10px 0;
}

.info-header {
    color: rgba(0, 0, 0, 0.54);
}

.info-empty {
    color: rgba(0, 0, 0, 0.26);
}

.not-last {
    margin-bottom: 5px;
}

.edit-button {
    margin: 0 0 0 5px;
    padding: 0;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}

.avatar-div {
    width: 225px;
    height: 225px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.54);
    background-color: #FAFAFA;
}

.users-list.ng-enter,
.users-list.ng-leave {
    -webkit-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.users-list.ng-leave.users-list.ng-leave-active,
.users-list.ng-enter {
    opacity: 0;
    height: auto;
    max-height: 0;
}

.users-list.ng-enter.ng-enter-active,
.users-list.ng-leave {
    opacity: 1;
    max-height: 100px;
}

.login-social-btn {
    margin: 0 10px 0 0;
    padding: 3px 0 0 0;
    min-width: 0;
    min-height: 0;
    line-height: normal;
    width: 35px;
    height: 35px;
}

.admin-header {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
}

.admin-sidenav {
    background-color: rgb(63,81,181);
    min-height: calc(100vh - 64px);
    z-index: 0;
}

md-content[role="navigation"] {
    background-color: rgb(63,81,181);
    max-height: calc(100vh - 110px);;
}

#db-name {
    color: rgba(255, 255, 255, 0.54);
}

.admin-sidenav md-divider {
    background-color: rgb(40,53,147);
}

.sidenav-list {
    padding: 0;
}

.sidenav-list md-list-item {
    padding: inherit;
}

.sidenav-button {
    margin: 0 !important;
    background-color: rgb(63,81,181) !important;
    color: white;
    border-radius: 0 !important;
    height: 48px !important;
    border-bottom: solid 1px rgb(40,53,147);
}

.sidenav-button:hover,
.sidenav-button:focus{
    background-color: rgb(40,53,147) !important;
}

a[role="button"] {
    text-decoration: none !important;
    outline: none;
}

a[role="button"] h1:hover {
    color: #c7d7db !important;
}

.sidenav-button span {
    float: left;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav-button i {
    float: right;
    height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
}

.column-item {
    border-bottom: solid 1px rgb(40,53,147);
}

.column-item p {
    float: left;
    height: auto;
    color: white;
    padding-left: 30px;
}

.column-item button {
    margin: 0 20px 0 0 !important;
    background-color: rgb(63,81,181) !important;
    color: white;
    border-radius: 10px !important;
    height: 36px;
    width: auto;
    min-width: unset;
    min-height: unset;
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 6px;
}

.column-item button:hover {
    background-color: rgb(40,53,147) !important;
}

#tables {
    padding: 0 16px;
    max-width: 78%;
    min-width: 78%;
}

#tables md-card {
    min-width: 100%;
    max-width: 100%;
}

#tables md-card > md-card-content {
    overflow-x: auto;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
}

#tables md-card > md-card-content > table {
    border-collapse: collapse;
    min-width: 100%;
}

#tables md-card > md-card-content > table > thead {
    color: rgba(0,0,0,0.54);
    text-align: left;
}

#tables md-card > md-card-content > table > thead > tr > th {
    border-bottom: solid 2px #EEEEEE;
    height: 47px;
    max-height: 47px;
    padding: 4px 28px 4px 0;
    font-weight: normal !important;
    font-size: 15px;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
}

#tables md-card > md-card-content > table > thead > tr > th:hover {
    color: rgba(0, 0, 0, 0.87);
}

#tables md-card > md-card-content > table > thead > tr > th:hover .sort-icon {
    color: rgba(0, 0, 0, 0.26);
}

.sorted-column-text {
    color: rgba(0, 0, 0, 0.87);
}

.sorted-column-icon-color {
    color: rgba(0, 0, 0, 0.87) !important;
}

.sort-icon {
    color: white;
}

#tables md-card > md-card-content > table > tbody > tr:hover {
    background-color: #EEEEEE;
}

.selected-row {
    background-color: #F5F5F5;
}

#tables md-card > md-card-content > table > tbody > tr > td {
    border-bottom: solid 2px #EEEEEE;
    height: 38px;
    padding: 4px 28px 4px 28px;
}

#tables md-card > md-card-content > table > tbody > tr > td > div {
    white-space: nowrap;
    max-height: 38px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tables md-card > md-card-header {
    max-height: 64px;
    height: 64px;
    position: relative;
    overflow: hidden;
}

.table-header > h2 {
    vertical-align: middle;
    margin: 0;
}

.table-header-modified > div {
    vertical-align: middle;
    margin: 0;
    color: rgba(66, 133, 244, 255);
}

.table-header-modified > span,
.table-header > span {
    vertical-align: middle;
    width: auto;
    padding-right: 12px;
}

.header-input {
    padding: 0 24px 0 0;
}

.header-input > input:focus::-webkit-input-placeholder {
    color:transparent;
}

.header-select {
    padding-right: 12px;
}

.table-header,
.table-header-modified {
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: rgba(232, 240, 254, 255);
    padding-left: 32px;
}

.table-header-modified.ng-enter {
    -webkit-animation: modified_enter_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* Safari/Chrome */
    animation: modified_enter_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* IE10+ and Future Browsers */
}

@-webkit-keyframes modified_enter_sequence {
    from { top: 64px; }
    to { top: 0; }
}
@keyframes modified_enter_sequence {
    from { top: 64px; }
    to { top: 0; }
}

.table-header-modified.ng-leave {
    -webkit-animation: modified_leave_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* Safari/Chrome */
    animation: modified_leave_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* IE10+ and Future Browsers */
}

@-webkit-keyframes modified_leave_sequence {
    from { top: 0; }
    to { top: 64px; }
}
@keyframes modified_leave_sequence {
    from { top: 0; }
    to { top: 64px; }
}

.table-header.ng-leave {
    -webkit-animation: leave_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* Safari/Chrome */
    animation: leave_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* IE10+ and Future Browsers */
}

@-webkit-keyframes leave_sequence {
    from { bottom: 0; }
    to { bottom: 64px; }
}
@keyframes leave_sequence {
    from { bottom: 0; }
    to { bottom: 64px; }
}

.table-header.ng-enter {
    -webkit-animation: enter_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* Safari/Chrome */
    animation: enter_sequence 0.5s cubic-bezier(0.25, 0.5, 0.5, 1); /* IE10+ and Future Browsers */
}

@-webkit-keyframes enter_sequence {
    from { bottom: 64px; }
    to { bottom: 0; }
}
@keyframes enter_sequence {
    from { bottom: 64px; }
    to { bottom: 0; }
}

#tables md-card > md-card-footer {
    height: 56px;
    padding: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
}

.db-table-select {
    height: 17px;
    margin: 0;
}

.db-table-select:focus .md-select-label {
    padding: 0;
    color: inherit !important;
    border: none;
}

.db-table-select > md-select-label,
.db-table-select.md-default-theme:not([disabled]):focus .md-select-label {
    padding: 0;
    border: none;
    text-align: right;
}

.db-table-select > md-select-label .md-select-icon {
    width: 15px;
}

#tables img {
    width: 48px;
    height: 48px;
}

.cell-for-padding {
    min-width: 32px;
    padding: 0 !important;
}

.table-checkbox {
    margin-left: 0;
    margin-right: 0;
}

.table-checkbox-container {
    padding: 0 !important;
}

.header-button {
    border-radius: 10px !important;
    height: 36px;
    width: auto;
    min-width: unset;
    min-height: unset;
    margin: 0 6px 0 6px;
    padding: 4px 6px 6px 6px;
    vertical-align: middle;
}

.counter {
    padding-left: 32px;
    padding-right: 20px;
}

.table-img {
    max-height: 38px;
    max-width: 38px;
}.edit-button-span {
    width: 30px;
    min-width: 30px;
    height: 24px;
    min-height: 24px;
}