.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    color: #283593;
    font-weight: 600;
    text-decoration: none;
}
.user-name:hover {
    text-decoration: underline;
}
.user-name:visited {
    color: #283593;
}

.user-nick {
    color: #1A237E !important;
}

.ican {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
}

.count-button {
    font-size: 12px;
    margin: 0 20px 0 5px;
    padding: 0 5px 0 5px;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}

.count-icon {
    width: 20px;
    height: 20px;
}

.register-area {
    padding-left: 20px;
}

.register-button {
    margin: 10px 0 0 0;
}

.social-btn-text {
    margin-left: -29px;
}
