.notifications-button {
    margin-right: 16px;
    padding: 4px;
    min-width: 0;
    min-height: 0;
    line-height: normal;
    border-radius: 50%;
    position: relative;
    overflow: visible;
}

.notifications-triangle {
    opacity: 0;
    top: 35px;
    margin: 0 0 0 -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 16px 15px;
    border-color: transparent transparent #fafafa transparent;
}

.notifications-count {
    font-size: 12px;
    height: auto;
    width: auto;
    border: 2px solid #E91E63;
    background-color: #E91E63;
    border-radius: 2px;
    border-top: none;
    border-bottom: none;
}

.notifications-count-wrap {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
    border: 2px solid #283593;
    background-color: #283593;
}

.visible {
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.notifications-button .md-ripple-container {
    border-radius: 50% !important;
}

.notifications {
    width: 400px;
    min-height: 400px;
    max-height: calc(100vh - 180px);
    background-color: #eee;
    position: absolute;
    top: 64px;
    right: 48px;
}

.notifications-end {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, .54);
    margin-top: 16px;
}

.notifications-header {
    min-height: 48px;
}

.notifications .settings-button:hover {
    color: #666;
}

.notifications-title {
    color: rgba(0, 0, 0, .54);
    margin-left: -40px;
}

.notifications-body {
    padding-top: 16px;
    overflow-y: scroll;
}

.notifications-footer {
    margin: 0 20px;
    min-height: 48px;
    outline: none;
    cursor: pointer;
    background-color: #F5F5F5;
    font-size: 13px;
}

.notifications-footer:hover {
    background-color: #FAFAFA;
}

.notification {
    margin: 0 8px 8px 16px;
    padding: 0 8px;
    border-radius: 3px;
    min-height: 64px;
    background-color: #FAFAFA;
}

.notification-icon {
    width: 72px;
    padding: 12px 0;
}

.notification-body {
    padding: 16px 0;
}

.notification-title {
    margin-bottom: 8px;
}

.notification-time {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
}

.notification-text {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
}

.notification-link {

}