<!doctype html>
<html ng-app="skills">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>SkillUp</title>

    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css">-->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/front/styles.css">

    <link href="/front/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/hammerjs/hammer.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>

    <script src="https://code.angularjs.org/1.3.0-rc.2/i18n/angular-locale_ru-ru.js"></script>

    <!--<script src="http://connect.facebook.net/en_US/all.js"></script>-->

    <script src="/bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/ngImgCrop/compile/minified/ng-img-crop.css">

    <script src="/front/app.js"></script>
    <script src="/front/filters.js"></script>
    <script src="/front/directives.js"></script>
    <script src="/front/competences/controllers.js"></script>
    <script src="/front/skills/controllers.js"></script>
    <script src="/front/tasks/controllers.js"></script>
    <script src="/front/users/controllers.js"></script>

</head>

<body layout="row">
<div id="fb-root"></div>
<div layout="column" layout-fill tabindex="-1" role="main">
    <md-toolbar class="md-hue-2" style="box-shadow: 0 2px 5px rgba(0,0,0,0.54);" ng-controller="navbarCtrl">
        <div layout="row" layout-align="space-between center">
            <div flex="50" flex-gt-md="15" layout="row">
                <div class="md-toolbar-tools" flex="30" flex-md="25" hide-gt-md>
                    <md-button class="md-raised" aria-label="menuButton">
                        <img src='/bower_components/material-design-icons/navigation/svg/design/ic_menu_24px.svg'>
                    </md-button>
                </div>
                <div hide show-gt-lg flex="15"></div>
                <div class="md-toolbar-tools" flex flex-gt-md="90">
                    <a href="/main" class="header-logo">skill<span style="color: #E91E63;">up</span></a>
                </div>
            </div>
            <div class="md-toolbar-tools" hide show-gt-md flex="65" flex-gt-lg="60"  ng-if="isLoggedIn()">
                <a href="/main"><h5 ng-class="{'navbar-active': getSelectedIndex() == 0}">
                    Главная</h5></a>
                    <a href="/skills"><h5 ng-class="{'navbar-active': getSelectedIndex() == 1}">Дерево
                        умений</h5></a>
                    <a href="/tasks"><h5 ng-class="{'navbar-active': getSelectedIndex() == 2}">
                        Задания</h5></a>
                    <a href="/users"><h5 ng-class="{'navbar-active': getSelectedIndex() == 3}">
                        Пользователи</h5></a>
<!--                    <a ng-if="isLoggedIn()" href="/competences"><h5 style="margin-right: 0px;"
                                                                    ng-class="{'navbar-active': getSelectedIndex() == 4}">
                        Компетенции</h5></a>-->
            </div>
            <div class="md-toolbar-tools" layout="row" layout-align="end center" flex>
                <div ng-if="isLoggedIn()" flex layout="row" layout-align="end center">
                    <a layout="row" layout-align="center center" ng-href="/users/{{loggedUser().id}}">
                        <img ng-if="loggedUser().avatar" alt="{{loggedUser().nick}}" class="avatar" ng-src="{{loggedUser().avatar}}"
                             ng-class="{admin: loggedUser().admin}">
                        <md-icon ng-if="!loggedUser().avatar" aria-label="user-icon" ng-class="{admin: loggedUser().admin}"
                                 md-svg-src="/bower_components/material-design-icons/action/svg/design/ic_account_circle_24px.svg">
                        </md-icon>
                        <div layout="column" layout-align="center center">
                            <h6 class="nickname" ng-class="{admin: loggedUser().admin}">{{loggedUser().nick}}</h6>
                            <span ng-if="!loggedUser().admin" class="user-exp">exp:
                                <span style="color: #E91E63;">{{loggedUser().exp}}</span></span>
                            <span ng-if="loggedUser().admin" class="admin">АДМИН</span>
                        </div>
                    </a>
                    <md-button class="md-mini logout-button"
                               ng-click="logout()" aria-label="logout-btn">
                        <md-tooltip>Выйти</md-tooltip>
                        <md-icon aria-label="logout-icon"
                                 md-svg-src="/bower_components/material-design-icons/action/svg/design/ic_exit_to_app_24px.svg">
                        </md-icon>
                    </md-button>
                </div>
                <div ng-if="!isLoggedIn()" layout="row" layout-align="end center" flex>
                    <md-button class="md-raised md-primary md-hue-1"
                               ng-href="/registration" aria-label="logout-btn">
                        Регистрация
                    </md-button>
                    <md-button class="md-raised"
                               style="color: rgba(0, 0, 0, 0.54); font-weight: 600"
                               ng-click="showLoginDialog($event)" aria-label="logout-btn">
                        Войти
                    </md-button>
                </div>
                <div hide show-gt-lg flex="15"></div>
            </div>
        </div>
    </md-toolbar>
    <md-content ng-view md-scroll-y flex style="background-color: #FAFAFA;">
    </md-content>
</div>

</body>
</html>
