
<div style="position: absolute; height: 92%; width: 100%;" id="toastError"></div>
<div style="position: absolute; height: 50%; width: 50%; margin-left: calc(50% - 150px);" id="toastSuccess"></div>

<div layout="column">
    <div layout="row" ng-class="{'promo-area': !isLoggedIn()}">
        <div flex="15" flex-md="5" hide-sm></div>
        <div ng-if="isLoggedIn()" flex layout="column"
             style="margin-top: 30px; margin-bottom: 30px; box-shadow: 0 1px 2px rgba(0,0,0,0.26); background-color: #FFFFFF; z-index: 3;">
            <md-tabs class="menu-tabs" md-selected="selectedTab">
                <md-tab>
                    Решить
                </md-tab>
                <md-tab>
                    Проверить
                </md-tab>
                <md-tab>
                    Подтвердить
                </md-tab>
                <md-tab>
                    Создать
                </md-tab>
            </md-tabs>

            <md-content style="max-height: calc(100vh - 175px);">
                <ng-switch on="selectedTab">
                    <div role="tabpanel"
                         aria-labelledby="tab1"
                         ng-switch-when="0"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <tasks-list tasks-obj="tasksObj" skills-obj="skillsObj" users-obj="usersObj" solution="temp.solution"></tasks-list>
                        <div ng-if="!tasksObj.length" flex layout="column" layout-align="center center" class="md-tile-content">
                            <h3 class="list-empty">Нет заданий для решения</h3>
                        </div>
                    </div>
                    <div role="tabpanel"
                         aria-labelledby="tab2"
                         ng-switch-when="1"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <solutions-list tasks-obj="tasksObjSolve" skills-obj="skillsObj" users-obj="usersObj" solutions-obj="solutionsObj"></solutions-list>
                        <div ng-if="!solutionsObj.length" flex layout="column" layout-align="center center" class="md-tile-content">
                            <h3 class="list-empty">Нет решений для проверки</h3>
                        </div>
                    </div>
                    <div role="tabpanel"
                         aria-labelledby="tab3"
                         ng-switch-when="2"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <tasks-list tasks-obj="tasksObjAppr" skills-obj="skillsObj" users-obj="usersObj" solution="temp.solution"
                                    show-difficulty="false" show-receive="false" solvable="false" approvable="true"></tasks-list>
                        <div ng-if="!tasksObjAppr.length" flex layout="column" layout-align="center center" class="md-tile-content">
                            <h3 class="list-empty">Нет заданий для подтверждения</h3>
                        </div>
                    </div>
                    <div role="tabpanel"
                         aria-labelledby="tab4"
                         ng-switch-when="3"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <md-content class="md-padding">
                            <form name="createTaskForm">
                                <md-input-container flex>
                                    <label>Название задания</label>
                                    <input ng-model="sendTask.name" name="taskName" md-maxlength="100" required minlength="10">
                                    <div ng-messages="createTaskForm.taskName.$error">
                                        <div ng-message="minlength">Название должно содержать как минимум 10 символов</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Текст задания</label>
                                    <textarea ng-model="sendTask.description" name="taskDescription" columns="1" required minlength="30"></textarea>
                                    <div ng-messages="createTaskForm.taskDescription.$error">
                                        <div ng-message="minlength">Описание должно содержать как минимум 30 символов</div>
                                    </div>
                                </md-input-container>
                                <md-chips ng-model="chips.selectedSkills" name="taskSkills" md-autocomplete-snap md-require-match>
                                    <md-autocomplete
                                            md-no-cache="true"
                                            md-selected-item="chips.selectedSkill"
                                            md-search-text="chips.searchTextSkills"
                                            md-items="skill in chips.filteredSkills()"
                                            md-item-text="skill"
                                            placeholder="Добавьте умения">
                                        <span md-highlight-text="chips.searchTextSkills">{{skill}}</span>
                                    </md-autocomplete>
                                </md-chips>
                                <div layout="row" layout-align="start start">
                                    <div flex="30" style="margin: 25px 0 0 3px; color: rgba(0, 0, 0, 0.54);">Ссылки на учебные материалы:</div>
                                    <div layout="column" flex style="margin-top: 20px;">
                                        <div layout="row" layout-align="center center" flex ng-repeat="li in sendTask.links" ng-class="{'not-last': !$last}">
                                            <div flex><span ng-if="sendTask.links.length > 1" class="info-header">•</span>
                                                {{li}}
                                            </div>
                                            <md-button class="expand-button" style="margin-left: 10px;"
                                                       ng-click="removeLink($index)" title="Удалить">
                                                <md-icon md-svg-icon="/bower_components/material-design-icons/content/svg/design/ic_clear_24px.svg"
                                                         aria-label="LaLat" style="outline: none;"
                                                </md-icon>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Вставьте ссылку</label>
                                        <input type="text" name="taskLinks" ng-model="sendTask.link">
                                    </md-input-container>
                                    <div style="margin-top: 8px;">
                                        <md-button class="md-raised" ng-click="addLink()">Добавить</md-button>
                                    </div>
                                </div>
                                <md-button class="md-raised md-warn" ng-click="createTask()"
                                           style="float: right; margin-top: 20px;">Создать</md-button>
                            </form>
                        </md-content>
                    </div>
                </ng-switch>
            </md-content>
        </div>
        <div ng-if="!isLoggedIn()" flex layout="row">
            <div layout="column" layout-align="center center" flex="60">
                <h1 class="slogan-header">Прокачай свои навыки.</h1>
                <h3 class="slogan-subheader">Решай задания, проверяй решения, знакомся с новыми людьми и получай профессиональные знания!</h3>
            </div>
            <div layout="column" flex="40" class="register-area">
                <md-card>
                    <md-card-content>
                        <div layout="column">
                <form>
                    <md-input-container>
                        <label>Никнейм</label>
                        <input ng-model="reg.nick">
                    </md-input-container>
                    <md-input-container>
                        <label>E-mail</label>
                        <input ng-model="reg.email">
                    </md-input-container>
                    <md-input-container>
                        <label>Пароль</label>
                        <input type="password" ng-model="reg.password">
                    </md-input-container>
                </form>
                <md-button class="md-raised md-primary md-hue-2 register-button"
                           ng-click="register()" aria-label="logout-btn">
                    Зарегистрироваться
                </md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div flex="15" flex-md="5" hide-sm></div>
    </div>

    <div ng-if="!isLoggedIn()" class="site-footer" layout="row" layout-align="space-between center">
        <span>© 2015 SkillUp, Inc.</span>
        <div layout="row" layout-align="end center" flex>
            <a style="margin-right: 15px;" href="https://github.com/alexeychikk">Zinkevych Alexey</a>
            <a href="https://github.com/VintorezVS">Chernyshenko Sergey</a>
        </div>
    </div>
</div>