/* index.html */

.header-logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

a.header-logo {
    text-decoration: none !important;
}

a:hover.header-logo {
    color: #ffffff !important;
}

a:hover.header-logo span {
    color: #F06292 !important;
}

.md-toolbar-tools a:hover h5 {
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
}

.md-toolbar-tools a:hover h5.navbar-active {
    color: #E91E63;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
}

.md-toolbar-tools a h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
}

.navbar-active {
    color: #E91E63;
}

.admin {
    font-size: 12px;
    color: #E91E63;
}

.nickname {
    margin: 0 0 0 5px;
}

a:hover .nickname {
    color: #ffffff;
}
a:hover .nickname.admin {
    color: #FFF9C4;
}
.nickname.admin {
    color: #FFEB3B;
}

.admin-panel {
    margin: 0 0 0 15px;
}

/* main.html */

md-toolbar.demo-toolbar {
    background: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.54);
}

.item-animate.ng-enter,
.item-animate.ng-leave {
    -webkit-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.item-animate.ng-leave.item-animate.ng-leave-active,
.item-animate.ng-enter {
    opacity: 0;
    height: auto;
    max-height: 0;
}

.item-animate.ng-enter.ng-enter-active,
.item-animate.ng-leave {
    opacity: 1;
    max-height: 150px;
}

.show-hide.ng-hide-add,
.show-hide.ng-hide-remove {
    -webkit-transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1) all;
    transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1) all;

    /* remember to add this */
    display: block !important;
    max-height: 40px;
    overflow: hidden;
    opacity: 1;
}

.show-hide.ng-hide {
    height: auto;
    max-height: 0;
    opacity: 0;
}

.show-hide-list.ng-hide-add,
.show-hide-list.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    /* remember to add this */
    display: block !important;
    max-height: 300px;
    overflow: hidden;
    opacity: 1;
}

.show-hide-list.ng-hide {
    height: auto;
    max-height: 0;
    opacity: 0;
}

.my-subheader {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

code {
    white-space: pre-wrap !important;
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0px !important;
}

pre {
    margin: 0px !important;
}

.logout-button {
    margin: 0 0 0 15px;
    padding: 0;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.avatar.admin {
    width: 38px;
    height: 38px;
    padding: 2px;
    border: 2px solid #FFEB3B;
}
/*.task-description {
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 10px;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #BDBDBD;
}

.task-desc-header {
    margin-top: 6px;
    background-color: #E8EAF6;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid #BDBDBD;
    border-bottom: none;
}*/

.diff-label {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 4px;
    padding: 1px 3px 1px 3px;
    margin-right: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.diff-label.easy {
    border-color: green;
    color: green;
    margin-right: 27px;
}

.diff-label.medium {
    border-color: orange;
    color: orange;
    margin-right: 15px;
}

.diff-label.hard {
    border-color: red;
    color: red;
}

.task-title a{
    color: #304FFE !important;
    font-weight: 600;
    text-decoration: none;
}
.task-title a:hover {
    text-decoration: underline;
}

.task-title, .task-exp {
    margin: 0;
}

.task-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.task-skills-word {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
}

.task-body {
}

.task-description {

}

.task-description-card {
    margin: 5px 0 10px 0;
}

.task-description-word {
    margin: 0 0 10px 0;
}

.task-footer {
    margin-top: 5px;
    margin-bottom: 10px;
}

.task-date, .task-author {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.task-author {
    margin-left: 4%;
}

.task-author a{
    color: rgba(65, 131, 196, 0.87);
    text-decoration: none;
}

.task-author a:hover {
    text-decoration: underline;
}

.task-button {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}

.task-button md-icon {
    color: rgba(0,0,0,0.26);
    width: 19px;
    height: 19px;
}

.task-padding {
    padding-bottom: 20px;
}

.skill-button {
    text-transform: none;
    white-space: normal !important;
    padding: 1px 3px 2px 3px;
    margin: 0 0 5px 5px;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}

.skill-button.root {
    background-color: #FFEB3B !important;
}

.expand-button {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    height: auto;
    max-height: 0;
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    display: block !important;
    max-height: 500px;
    overflow: hidden;
    opacity: 1;
}

.menu-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.slogan-header {
    font-size: 70px;
    margin: 0;
    color: white;
    text-shadow: 0 10px 20px #000;
}

.slogan-subheader {
    color: white;
    text-shadow: 0 5px 10px #000;
}

.promo-area {
    background: #3949AB url('/front/images/octicons-bg.png') center repeat;
    padding-top: 5%;
    padding-bottom: 5%;
}

.rotate-base {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.rotate-base.rotate-btn {
    transform: rotate(180deg);
}

.site-footer {
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 60px 0 0 5%;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.site-footer a {
     color: rgba(65, 131, 196, 0.87);
     text-decoration: none;
 }

.site-footer a:hover {
    text-decoration: underline;
}

.user-name {
    color: #304FFE;
    font-weight: 600;
    text-decoration: none;
}
.user-name:hover {
    text-decoration: underline;
}
.user-nick {
    color: #1A237E !important;
}

.user-exp {
    font-size: 12px;
}

.checked-correct {
    color: #4CAF50 !important;
}

.checked-incorrect {
    color: #F44336 !important;
}

.star {
    color: #FFEB3B !important;
}


.list-empty {
    color: rgba(0, 0, 0, 0.54);
    font-weight: normal;
}

.learning-links {
    font-size: 12px;
    color: rgba(65, 131, 196, 0.87);
    text-decoration: none;
}

.learning-links:hover {
    text-decoration: underline;
}

.toolbar-button {
    min-width: 0 !important;
    min-height: 0 !important;
    line-height: normal !important;
    width: 40px !important;
    height: 40px !important;
}

.mdi-24 {
    font-size: 24px !important;
}

.mdi-36 {
    font-size: 36px !important;;
}

.mdi-48 {
    font-size: 48px !important;;
}

.mdi-200 {
    font-size: 200px !important;
}

.mdi-black {
    color: black;
}

.mdi-hint {
    color: rgba(0, 0, 0, 0.26);
}

.mdi-secondary {
    color: rgba(0, 0, 0, 0.54);
}