
<md-content>
<md-list layout="column" ng-if="usersObj">
    <md-list-item class="item-animate"
                  ng-repeat="taskVal in tasksObj | orderBy: '-exp'">
        <div layout="column" flex>
            <div layout="row" class="task-header">
                <div>
                    <div ng-if="showDifficulty">
                        <span class="diff-label easy" ng-if="taskVal.difficulty >= 0.9">ЛЕГКО</span>
                        <span class="diff-label medium" ng-if="taskVal.difficulty < 0.9 && taskVal.difficulty > 0.5">СРЕДНЕ</span>
                        <span class="diff-label hard" ng-if="taskVal.difficulty < 0.5">СЛОЖНО</span>
                    </div>
                </div>
                <div flex>
                    <h3 class="task-title"><a href="tasks/{{taskVal.id}}">{{taskVal.title}}</a></h3>
                </div>
                <div flex="15">
                    <p class="task-exp">exp: {{taskVal.exp | thousand}}</p>
                </div>
            </div>
            <div layout="row" class="task-body">
                <div layout="row" flex="85">
                    <div style="margin-right: 5px;">
                        <span class="task-skills-word">Умения: </span>
                    </div>
                    <div layout="row" layout-wrap flex>
                        <md-button class="md-raised md-primary skill-button"
                                   aria-label="skillBtn"
                                   ng-repeat="skill in taskVal.skills">
                            {{findSkill(skill).title}}
                        </md-button>
                    </div>
                </div>
                <div layout="row" layout-align="start start" flex ng-if="showExpand">
                    <md-button class="md-mini md-primary expand-button"
                               ng-click="expand(taskVal)" aria-label="expand-toogle">
                        <md-icon  class="rotate-base" ng-class="{'rotate-btn': taskVal.expanded}" aria-label="notexpanded"
                                 md-svg-src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_more_24px.svg">
                        </md-icon>
                    </md-button>
                </div>
            </div>
            <div class="animate-if" layout="column" ng-if="taskVal.expanded">
                <md-card class="task-description-card">
                    <md-card-content>
                        <h2 class="md-title task-description-word">Условие</h2>
                        <div class="task-description">
                            {{taskVal.description}}
                        </div>
                        <form name="solutionForm" ng-if="solvable">
                            <md-input-container>
                                <label>Ваше решение</label>
                                <textarea ng-model="$parent.$parent.$parent.$parent.solution" name="solutionT"
                                          required minlength="30"></textarea>
                                <div ng-messages="solutionForm.solutionT.$error">
                                    <div ng-message="required">Обязательное поле</div>
                                    <div ng-message="minlength">Решение должно содержать как минимум 30 символов</div>
                                </div>
                            </md-input-container>
                            <md-button class="md-raised md-primary" style="float: right; " ng-click="send(taskVal.id)">Отправить</md-button>
                        </form>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" class="task-footer" ng-class="{'task-padding': $last}">
                <div flex="85">
                    <span class="task-date">Дата создания: {{taskVal.date_created | date: 'dd.MM.yyyy'}}</span>
                    <span class="task-author">Автор: <a href="/users/{{taskVal.author}}">
                        {{findUser(taskVal.author).name}}</a></span>
                </div>
                <div layout="row" flex>
                    <md-button ng-if="showLike" class="task-button" style="margin-right: 25px;" ng-click="like(taskVal); s1 = {};"
                               ng-mouseenter="!taskVal.liked && (s1 = {color: 'rgba(0,0,0,0.54)'})" ng-mouseleave="s1 = {}">
                        <md-icon md-svg-icon="/bower_components/material-design-icons/action/svg/design/ic_thumb_up_24px.svg"
                                 ng-style="s1" ng-class="{'md-accent': taskVal.liked}">
                        </md-icon>
                        <span>{{taskVal.likes || 0}}</span>
                        <md-tooltip>
                            Мне нравится
                        </md-tooltip>
                    </md-button>
                    <md-button ng-if="showReceive" class="task-button" ng-click="receive(taskVal)"
                               ng-mouseenter="!taskVal.received && (s2 = {color: 'rgba(0,0,0,0.54)'})" ng-mouseleave="s2 = {}; s2 = {};">
                        <md-icon md-svg-icon="/bower_components/material-design-icons/action/svg/design/ic_work_24px.svg"
                                 ng-style="s2" ng-class="{'md-primary': taskVal.received}">
                        </md-icon>
                        <span>{{taskVal.participants.length || 0}}</span>
                        <md-tooltip>
                            Взять задание
                        </md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <!--<md-progress-linear ng-if="!tasksObj" md-mode="indeterminate"></md-progress-linear>-->
</md-list>
</md-content>